<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
	default-lazy-init="false">

	<import resource="spring-sessinfactory.xml"/>
	
	<bean name="SimpleDao" class="org.zjf.support.impl.SimpleDao">
		<property name="sessionfactory" ref="sessionFactory"></property>
	</bean>
	<bean name="BaseDao" class="org.zjf.support.impl.BaseDao" parent="SimpleDao"></bean>
	<bean name="AreaDao" class="org.zjf.dao.impl.AreaDaoImpl" parent="BaseDao"></bean>
	<bean name="DetailItemDao" class="org.zjf.dao.impl.DetailItemDaoImpl" parent="BaseDao"></bean>
	<bean name="DispatchDetailDao" class="org.zjf.dao.impl.DispatchDetailDaoImpl" parent="BaseDao"></bean>
	<bean name="DispatchListDao" class="org.zjf.dao.impl.DispatchListDaoImpl" parent="BaseDao"></bean>
	<bean name="DispatchResultDao" class="org.zjf.dao.impl.DispatchResultDaoImpl" parent="BaseDao"></bean>
	<bean name="DispatchStatusDao" class="org.zjf.dao.impl.DispatchStatusDaoImpl" parent="BaseDao"></bean>
	<bean name="LoginLogDao" class="org.zjf.dao.impl.LoginLogDaoImpl" parent="BaseDao"></bean>
	<bean name="LoginUserDao" class="org.zjf.dao.impl.LoginUserDaoImpl" parent="BaseDao"></bean>
	<bean name="LogOperationDao" class="org.zjf.dao.impl.LogOperationDaoImpl" parent="BaseDao"></bean>
	<bean name="LogPrintDao" class="org.zjf.dao.impl.LogPrintDaoImpl" parent="BaseDao"></bean>
	<bean name="SysDepartmentDao" class="org.zjf.dao.impl.SysDepartmentDaoImpl" parent="BaseDao"></bean>
	<bean name="SysEmployeeDao" class="org.zjf.dao.impl.SysEmployeeDaoImpl" parent="BaseDao"></bean>
	<bean name="SysPositionsDao" class="org.zjf.dao.impl.SysPositionsDaoImpl" parent="BaseDao"></bean>
	<bean name="SysConfigDaoImpl" class="org.zjf.dao.impl.SysConfigDaoImpl" parent="BaseDao"></bean>
	<bean name="SysMenuDaoImpl" class="org.zjf.dao.impl.SysMenuDaoImpl" parent="BaseDao"></bean>
	<bean name="SysRoleDaoImpl" class="org.zjf.dao.impl.SysRoleDaoImpl" parent="BaseDao"></bean>
	
	<bean name="systemServiceImpl" class="org.ymm.services.impl.SystemServiceImpl">
		<property name="baseDao" ref="BaseDao" />
		<property name="iSysPositionsDao"  ref="SysPositionsDao"/>
		<property name="iLoginUserDao" ref="LoginUserDao" />
		<property name="iDispatchListDao" ref="DispatchListDao"/>
		<property name="iDispatchResultDao" ref="DispatchResultDao"/>
		<property name="iDispatchDetailDao" ref="DispatchDetailDao"></property>
	</bean>
	<bean name="employeeServiceImpl" class="org.ymm.services.impl.EmployeeServiceImpl">
		<property name="baseDao" ref="BaseDao"/>
		<property name="iSystemService" ref="systemServiceImpl"/>
		<property name="iDispatchListDao" ref="DispatchListDao"/>
		<property name="iSysEmployeeDao" ref="SysEmployeeDao"/>
		<property name="iDispatchDetailDao" ref="DispatchDetailDao"/>
		<property name="iDispatchResultDao" ref="DispatchResultDao" />
		<property name="iLoginUserDao" ref="LoginUserDao"></property>
	</bean>
	
	<bean name="managerServiceImpl" class="org.ymm.services.impl.ManagerServiceImpl">
		<property name="iDispatchListDao" ref="DispatchListDao"/>
		<property name="iSysEmployeeDao" ref="SysEmployeeDao"/>
		<property name="iLoginUserDao" ref="LoginUserDao"/>
		<property name="iSystemService" ref="systemServiceImpl"/>
		<property name="iDispatchDetailDao" ref="DispatchDetailDao"/>
		<property name="iDispatchResultDao" ref="DispatchResultDao"/>
	</bean>
	
	<bean name="generalManagerServiceImpl" class="org.ymm.services.impl.GeneralManagerServiceImpl">
		<property name="iDispatchListDao" ref="DispatchListDao"/>
		<property name="iSystemService" ref="systemServiceImpl"/>
		<property name="iSysEmployeeDao" ref="SysEmployeeDao"/>
		<property name="iDispatchDetailDao" ref="DispatchDetailDao"/>
		<property name="iDispatchResultDao" ref="DispatchResultDao"/>
	</bean>
	
	<bean name="financialServiceImpl" class="org.ymm.services.impl.FinancialServiceImpl">
		<property name="iSystemService" ref="systemServiceImpl"/>
		<property name="iDispatchResultDao" ref="DispatchResultDao"/>
	</bean>
	
	<bean name="showMenuServiceImpl" class="org.ymm.services.impl.ShowMenuServiceImpl">
		<property name="iSysRoleDao" ref="SysRoleDaoImpl"></property>
		<property name="iSysMenuDao" ref="SysMenuDaoImpl"></property>
	</bean>
	
	<bean name="org.ymm.actions.LoginAction" class="org.ymm.actions.LoginAction">
		<property name="iEmpService" ref="employeeServiceImpl"/>
		<property name="iShowMenuService" ref="showMenuServiceImpl"/>
		<property name="iSystemService" ref="systemServiceImpl"/>
	</bean>
	
	
	
</beans>