<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
	default-lazy-init="false">
	
	
	<bean id="myDataSource" class="org.logicalcobwebs.proxool.ProxoolDataSource">
		<property name="driver" value="oracle.jdbc.OracleDriver" />
		<property name="driverUrl" value="jdbc:oracle:thin:@localhost:1521:orcl" />
		<property name="user" value="ymm" />
		<property name="password" value="ymm123456" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="myDataSource" />
		<property name="mappingResources">
			<list>
				<value>org/zjf/entity/Area.hbm.xml</value>
				<value>org/zjf/entity/DetailItem.hbm.xml</value>
				<value>org/zjf/entity/DispatchDetail.hbm.xml</value>
				<value>org/zjf/entity/DispatchList.hbm.xml</value>
				<value>org/zjf/entity/DispatchResult.hbm.xml</value>
				<value>org/zjf/entity/DispatchStatus.hbm.xml</value>
				<value>org/zjf/entity/LoginLog.hbm.xml</value>
				<value>org/zjf/entity/LoginUser.hbm.xml</value>
				<value>org/zjf/entity/LogOperation.hbm.xml</value>
				<value>org/zjf/entity/LogPrint.hbm.xml</value>
				<value>org/zjf/entity/SysDepartment.hbm.xml</value>
				<value>org/zjf/entity/SysEmployee.hbm.xml</value>
				<value>org/zjf/entity/SysPositions.hbm.xml</value>
				<value>org/zjf/entity/SysRole.hbm.xml</value>
				<value>org/zjf/entity/SysMenu.hbm.xml</value>
				<value>org/zjf/entity/SysConfig.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle9Dialect</prop>
				<!-- <prop key="hibernate.current_session_context_class">thread</prop> -->
				<prop key="hibernate.current_session_context_class">org.springframework.orm.hibernate3.SpringSessionContext</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
			</props>
			<!-- org.springframework.orm.hibernate3.SpringSessionContext -->
		</property>
	</bean>
	
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:pointcut expression="execution(* org.ymm.services.*.*(..))" id="txcut"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="txcut"/>
	</aop:config>
	
</beans>