<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- Support Beans -->
	<bean abstract="true" id="simple_dao" class="org.fy.support.SimpleDAO">
		<property name="sessionFactory" ref="session_factory" />
	</bean>
	<bean abstract="true" id="base_dao" class="org.fy.support.BaseDAO" parent="simple_dao" />
	<!-- Support Beans -->


	<!-- DAO Beans -->
	<bean id="AreaDao" class="org.fy.dao.impl.AreaDaoImpl" parent="base_dao"/>
	<bean id="SysDepartmentDao" class="org.fy.dao.impl.SysDepartmentDaoImpl" parent="base_dao"/>
	<bean id="sys_employee_dao" class="org.fy.dao.impl.SysEmployeeDaoImpl" parent="base_dao"/>
	<bean id="SysPositionsDao" class="org.fy.dao.impl.SysPositionsDaoImpl" parent="base_dao"/>
	<bean id="LoginLogDao" class="org.fy.dao.impl.LoginLogDaoImpl" parent="base_dao"/>
	<bean id="LoginUser" class="org.fy.dao.impl.LoginUserDaoImpl" parent="base_dao"/>
	<bean id="LogOperationDao" class="org.fy.dao.impl.LogOperationDaoImpl" parent="base_dao"/>
	<bean id="LogPrintDao" class="org.fy.dao.impl.LogPrintDaoImpl" parent="base_dao"/>
	
	<bean id="DetailItemDao" class="org.fy.dao.impl.DetailItemDaoImpl" parent="base_dao"/>
	<bean id="DispatchDetailDao" class="org.fy.dao.impl.DispatchDetailDaoImpl" parent="base_dao"/>
	<bean id="DispatchListDao" class="org.fy.dao.impl.DispatchListDaoImpl" parent="base_dao"/>
	<bean id="DispatchResultDao" class="org.fy.dao.impl.DispatchResultDaoImpl" parent="base_dao"/>
	<bean id="DispatchStatusDao" class="org.fy.dao.impl.DispatchStatusDaoImpl" parent="base_dao"/>
	<!-- DAO Beans -->


	<!-- Service Beans -->
	<bean id="system_service" class="org.fy.service.impl.SystemService">
		<property name="idispatch_list" ref="DispatchListDao" />
		<property name="idispatch_result" ref="DispatchResultDao" />
		<property name="idispatch_detail" ref="DispatchDetailDao" />
		<property name="isys_position" ref="SysPositionsDao" />
		<property name="ilogin_user" ref="LoginUser" />
		<property name="isys_employee" ref="sys_employee_dao" />
	</bean>
	
	<bean id="sys_employee_service" class="org.fy.service.impl.SysEmployeeService">
		<property name="isys_employeeDao" ref="sys_employee_dao" />
		<property name="isystem_service" ref="system_service" />
		<property name="idispatch_list" ref="DispatchListDao" />
		<property name="idispatch_detail" ref="DispatchDetailDao" />
		<property name="idispatch_result" ref="DispatchResultDao" />
		<property name="isys_department" ref="SysDepartmentDao" />
	</bean>
	
	<bean id="sys_departManage_service" class="org.fy.service.impl.SysDepartManagerService">
		<property name="idispatch_list" ref="DispatchListDao" />
		<property name="idispatch_result" ref="DispatchResultDao" />
		<property name="ilog_user" ref="LoginUser" />
	</bean>
	
	<bean id="sys_ZManage_service" class="org.fy.service.impl.SysManagerService">
		<property name="idispatch_list" ref="DispatchListDao" />
		<property name="idispatch_result" ref="DispatchResultDao" />
		<property name="idispatch_detail" ref="DispatchDetailDao" />
	</bean>
	
	<bean id="sys_Finance_service" class="org.fy.service.impl.SysFinanceService">
		<property name="idispatch_result" ref="DispatchResultDao" />
	</bean>
	<!-- Service Beans -->
	
	
	
	<!-- AOP Beans -->
 	<aop:config>
		<aop:advisor id="find_dispat_advice" advice-ref="tx_advice" pointcut="execution(* org.fy.service.impl.*.*(..))" />
 	</aop:config>
	<!-- AOP Beans -->
</beans>