<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<bean id="simpleDao" class="org.han.support.impl.SimpleDaoImpl"
		abstract="true">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="baseDao" class="org.han.support.impl.BaseDaoImpl"
		abstract="true" parent="simpleDao" />

	<bean id="areadao" class="org.han.dao.impl.AreaDaoImpl" parent="baseDao" />
	<bean id="detailItemdao" class="org.han.dao.impl.DetailItemDaoImpl"
		parent="baseDao" />
	<bean id="dispatchDetailDao" class="org.han.dao.impl.DispatchDetailDaoImpl"
		parent="baseDao" />
	<bean id="dispatchlistdao" class="org.han.dao.impl.DispatchListDaoImpl"
		parent="baseDao" />
	<bean id="dispatchresultdao" class="org.han.dao.impl.DispatchResultDaoImpl"
		parent="baseDao" />
	<bean id="dispatchstatusdao" class="org.han.dao.impl.DispatchStatusDaoImpl"
		parent="baseDao" />
	<bean id="loginlogdao" class="org.han.dao.impl.LoginLogDaoImpl"
		parent="baseDao" />
	<bean id="loginuserdao" class="org.han.dao.impl.LoginUserDaoImpl"
		parent="baseDao" />
	<bean id="logoperationdao" class="org.han.dao.impl.LogOperationDaoImpl"
		parent="baseDao" />
	<bean id="logprintdao" class="org.han.dao.impl.LogPrintDaoImpl"
		parent="baseDao" />
	<bean id="sysdepartmentdao" class="org.han.dao.impl.SysDepartmentDaoImpl"
		parent="baseDao" />
	<bean id="empdao" class="org.han.dao.impl.SysEmployeeDaoImpl"
		parent="baseDao" />
	<bean id="syspositionsdao" class="org.han.dao.impl.SysPositionsDaoImpl"
		parent="baseDao" />
</beans>