<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<bean id="datasource_proxool" class="org.logicalcobwebs.proxool.ProxoolDataSource">
		<property name="driver" value="oracle.jdbc.OracleDriver" />
		<property name="driverUrl" value="jdbc:oracle:thin:@192.168.0.105:1522:orcl" />
		<property name="user" value="han" />
		<property name="password" value="hanzhou" />
		<!--		<property name="alias" value="Pool_dbname" />-->
		<!--		<property name="houseKeepingSleepTime"  value="90000" />-->
		<!--		<property name="prototypeCount" value="0" />-->
		<!--		<property name="maximumConnectionCount" value="50" />-->
		<!--		<property name="minimumConnectionCount" value="2" />-->
		<!--		<property name="simultaneousBuildThrottle" value="50" />-->
		<!--		<property name="maximumConnectionLifetime" value="14400000" />-->
	</bean>

	<bean id="datasource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="oracle.jdbc.OracleDriver" />
		<property name="jdbcUrl" value="jdbc:oracle:thin:@192.168.0.105:1522:orcl" />
		<property name="user" value="han" />
		<property name="password" value="hanzhou" />
		<!-- 指定连接数据库连接池的最大连接数 -->
		<property name="maxPoolSize" value="20" />
		<!-- 指定连接数据库连接池的最小连接数 -->
		<property name="minPoolSize" value="1" />
		<!-- 指定连接数据库连接池的初始化连接数 -->
		<property name="initialPoolSize" value="5" />
		<!-- 指定连接数据库连接池的连接的最大空闲时间 -->
		<property name="maxIdleTime" value="20" />
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"
		scope="singleton">
		<property name="dataSource" ref="datasource">
		</property>
		<property name="mappingResources">
			<list>
				<value>org/han/entity/Area.hbm.xml</value>
				<value>org/han/entity/DetailItem.hbm.xml</value>
				<value>org/han/entity/LogOperation.hbm.xml</value>
				<value>org/han/entity/DispatchDetail.hbm.xml</value>
				<value>org/han/entity/LoginUser.hbm.xml</value>
				<value>org/han/entity/SysDepartment.hbm.xml</value>
				<value>org/han/entity/DispatchList.hbm.xml</value>
				<value>org/han/entity/LoginLog.hbm.xml</value>
				<value>org/han/entity/SysPositions.hbm.xml</value>
				<value>org/han/entity/LogPrint.hbm.xml</value>
				<value>org/han/entity/SysEmployee.hbm.xml</value>
				<value>org/han/entity/DispatchResult.hbm.xml</value>
				<value>org/han/entity/DispatchStatus.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<!--				<prop key="hibernate.show_sql">true</prop>-->
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.connection.oracle.jdbc.V8Compatible">true</prop>
				<prop key="hibernate.dialect">org.han.dialect.MyDialect</prop>
				<prop key="hibernate.current_session_context_class">org.springframework.orm.hibernate3.SpringSessionContext
				</prop>

				<!--
					<prop key="hibernate.current_session_context_class">thread</prop>
				-->
			</props>
		</property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:pointcut expression="execution(* org.han.support.*.*(..))"
			id="pointcut" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="pointcut" />
	</aop:config>
</beans>